.home-slider-item {
    position: relative;
  
    div {
      position: absolute;
      bottom: .2667rem;
      left: .5333rem;
      color: white;
      font-weight: bold;
      font-size: .5333rem
    }
  }
  
  .home-hotcate-container {
    background: white;
    .title {
      padding: .4rem;
      color: #949494;
    }
  }